@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
:root{
  --main-color:#14246e;
}
*{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
html{
  background: #020024;
  background-size: contain;
}
body{
  font-size: 1rem;
  /* overflow-x: hidden; */
  font-weight: 200;
  line-height: 1.5;
  color: #212529;
  margin: 0;
}
.navbar{
  display: flex;
  background-color: #020024;
  flex-direction: row;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar a{
  width: 49%;
  height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  justify-content: center;
  margin: 5px;
}
a:link, a:visited, a:link:active, a:visited:active{
  color: var(--main-color);
  text-decoration: none;
}
.navbar a:link,.navbar a:visited,.navbar a:link:active, a:visited:active{
  color: #fff;
  text-decoration: none;
}
.navbar a:hover, .informado-button:hover, .add-submit:hover{
  background-color: #232e5e;
  cursor: grab;
}
.record-form{
  display: flex;
  flex-direction: column;
}
form div *{
  margin: 5px;
}
form div{
  margin: 10px;
}
table, th, td{
  border-collapse: collapse;
}
a{
  text-decoration: none;
}
h4{
  margin: 0;
  padding: 0;
}
tr:first-child{
  display: table-row;
}
.icon:hover{
  cursor: grab;
}
th form input{
  margin: 0;
  padding: 0;
  width: 33%;
  border: 1px solid black;
}
.icon-option{
  justify-content: center;
  text-align: center;
  color: var(--main-color);
}
.icon-option:hover{
  cursor: grab;
}
.div-head{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.check-in-form{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  justify-content: center;
}.check-in-form input{
  width: 90%;
}
table{
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
  border-spacing: 2px;
  border-color: grey;
  margin: 5px 0;
}
thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table thead tr{
  height: 60px;
  background: var(--main-color);
}
table *{
  position: relative;
}
tr{
  display: table-row;
}
thead tr th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  padding: 0 10px;
}
table td{
  text-align: left;
  padding-left: 8px;
}
tbody tr{
  height: 50px;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr:nth-child(even){
  background-color: #bfbfbf;
}
#main{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.table-head{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  column-gap: 5px;
}
th form input{
  border-radius: 5px;
}
.add-input{
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.submit-input{
  width: 100%;
  text-align: center;
  justify-content: center;
}
.add-submit{
  width: 25%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
}
.informado-form{
  display: flex;
  flex-direction: row;
  width: 95%;
  border-radius: 5px;
  background-color: var(--main-color);
}
.informado{
  background-color: var(--main-color);
  width: 100%;
  border-radius: 5px;
  color: #fff;
}
.informado-button{
  background-color: var(--main-color);
  border-radius: 5px;
  color: #fff;
  border: none;
}
input[type="button"], input[type="submit"]{
  background-color: #232e5e;
  cursor: grab;  
}
input[type="button"]:hover, input[type="submit"]:hover{
  background-color: #323b5f;
  cursor: grab;  
}
input{
  border-radius: 5px;
}
